@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
@import "./btn";
@import "./variables/variables";
@import "./components/dashboard-card";
@import "./components/form";

header {
  height: 100px;
  background-color: $primary-clr;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

main {
  width: 100px;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 200px 1fr;
}

.left-aside {
  padding: 20px 20px;
  border-right: 1px solid $primary-clr;
  h2 {
    margin: 15px 0 10px 15px;
  }
  .group-list {
    margin-top: 10px;
    font-size: 16px;
    &__link {
      margin-bottom: 5px;
      li {
        padding: 10px 5px 10px 15px;
        margin-bottom: 15px;
      }
    }
    &__link:hover {
      li {
        color: white;
        background-color: rgb(237, 187, 237);
        border-radius: 5px;
        transition: all 0.3s;
      }
    }
  }
}

.right-main {
  padding: 20px 0 20px 20px;
  input {
    width: calc(100vw - 250px);
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid $primary-clr;
    margin-bottom: 20px;
  }
}
